@import"Mobile.scss";

*{
    margin:0 ;
    padding: 0;
}

@mixin Estilo ($EstiloLetra , $EstiloTexto , $TamanoLetra , $LugarTexto) {
    font-family: 'Bitter', serif;
    font-style: oblique;
    text-decoration: underline;
    font-size: 80%;
    text-align: center;
    
}

.Tipografia{
    font-family: 'Bitter', serif;
    font-style: oblique;
    text-decoration: underline;

}

body{
    background-image: linear-gradient(to left , #0f0c29,#302b63 ,#24243e);
    font-family: 'PT Serif', serif;
    
}
header{
    display: inline-block;
    
   
    
    
}
nav{
    display: inline-block;
    
    float: right;
    ;
    
}

ul{
    display: flex;
    flex-flow: nowrap;
    list-style-type: none; 
    padding-top: 20px;
    
    a{
    
        color: white;
        font-family: 'Bitter', serif;
        text-decoration: none;
        padding: 10px;
        padding-right: 22px;
          
        }
    
}

a:hover{
    border-radius: 15px ;
    background-color: rgb(31, 30, 30);
    padding: 10px;
}


#TallerEntrada{
    image-rendering: auto;
    width: 100%;
    height: 100%;
}
main{
    color: white;
    font-size: 60px;
    background-size: cover;
    padding-top: 5px;
    height: 1200px;
    margin-top: 5%;
    
   
    
}
#ParrafoIndex{
    color: white;
    font-size: 60px;
    margin-top: 5%;
}
.ParrafoQ1{
   @include Estilo(oblique , underline , 80% , center );
    margin-top: 5%;
        
}
.ParrafoQ2{
    @include Estilo(oblique , underline , 70% , center );
    margin-top: 20%;
        
}


#LOGO{
    margin-top: 10PX;
    margin-left: 10px;
    width: 180px;
   
}
footer{
    display: flex;
    margin-top: 10%;
    justify-content:center; 
    
}
#GRILLA{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-template-rows:400px 400px;
    grid-template-areas: "a1 a2 a3"
                        "a4 a5 a6";
    justify-content: space-around;
    align-content: space-around ;
    padding-top: 5% ;
    margin-left: 2%;
    margin-top: 10%;

    
}
#GRILLA div{
    width: 90%;
    height: 90%;
    image-rendering: auto;
   
}


img{
    width: 100%;
    height: 100%;
}

#QuienesSomos{
    font-size: 80%;
    list-style-type:disc;
    padding-left: 100px;
    font-family: 'Bitter', serif;
    margin-top: 15%;

}

h1{
    @extend .Tipografia;
    font-size: larger;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Mapa{
    margin-top: 10%;
    margin-left: 30%;
}
#Div2{
    font-size: larger;
    list-style-type:disc;
    margin-top: 10%;
    font-family: 'Bitter', serif;
    font-style: oblique;
    
}

fieldset{
    display: inline-block;
    background-color: rgb(59, 52, 161);
    text-align: center;
}
form{
    width: 400px;
    margin: auto;
    margin-bottom: 5%;
    
}
label{
    @extend .Tipografia;
    font-size:xx-large;  
    
}
legend{
    font-family: 'Bitter', serif;
}
.Botones{
    width: auto;
    background-color: blanchedalmond;
    padding: 5%;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
}
.Submit{
    background-color: blue;
    width: 80%;
    border: none;
    padding: 12px;
    margin: 16px 0;
    color: white;
    font-size: medium;
}
.Marca{
    background-color:dimgrey;
    width: 50%;
    border: none;
    padding: 16px;
    margin: 16px 0;
    color: black;
    text-align: center;
    
    
}



